crewai
crewai-tools

fastapi
uvicorn

langchain
langchain-community
langchain-openai
langchain-google-genai

chromadb

sentence-transformers

sqlalchemy
mysql-connector-python

pandas
numpy

matplotlib
plotly

reportlab
openpyxl

python-dotenv

pydantic

faiss-cpu

tiktoken

python-multipart

pytest